*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    background: rgb(2,0,36);
    background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 100%, rgba(0,212,255,1) 100%);
    font-family: monospace;
    font-size: 1rem;
    color: #fff;
    width: 100%;
}
#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    align-items: center;
    background: #020024;
    width: 100%;
    top: 0;
    z-index: 10000;
}
#nav{
    display: flex;
    flex-direction: column;
    height: 3.5em;
    width: auto;
    transition-delay: .3s;
}
.menu{
    display: flex;
    flex-direction: row;
    padding-top: .8rem;
    height: 3.5em;
    width: 3.5em;
}
#botao{
    display: block;
    opacity: 0;
    cursor: pointer;
}
.menu1{
    display: block;
    color: #00d4ff;
    font-size: 2em;
    margin-left: .2em;
    cursor: pointer;
}
.menu2{
    display: none;
    color: #00d4ff;
    font-size: 2em;
    margin-left: .2em;
    cursor: pointer;
}
#menu-lateral{
    display: flex;
    flex-direction: row;
    background: #020024;
    margin-top: .2em;
    margin-left: -11em;
    height: calc(100vh - 2.5em);
    width: 10em;
    transition-duration: .5s;
}
#menu-lateral.abrir{
    margin-left: 0;
}
.icones{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: calc(100vh - 2.5em);
    width: 3em;
}
.icones i{
    color: #00d4ff;
}
.links ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    padding-left: 0;
    height: calc(100vh - 2.5em);
    width: 7em;
    transition-duration: .7s;
}
.links ul li a{
    list-style: none;
    text-decoration: none;
    color: #00d4ff;
    padding: 1em;
}
#usuario{
    display: block;
    background: none;
    margin: 0 auto;
    width: 3em;
    cursor: pointer;
    border: none;
}
#usuario i{
    color: #00d4ff;
    font-size: 2rem;
    margin-right: .5rem;
}

.h1{
    font-size: 1.5rem;
    font-family: serif;
    text-align: center;
    color: #E0ACD5;
    font-variant: small-caps;
    margin: 1.5rem;
}

#footer{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 0;
    background: #020024;
    width: 100%;
}


@media (min-width: 768px){
    body{
        font-size: 2em;
    }
    #menu-lateral{
        background: none;
        width: auto;
        margin-left: 0;
    }
    .icones{
        position: fixed;
        background: #020024;
    }
    .links ul{
        background: #020024;
        margin-left: -11em;
    }
    #menu-lateral.abrir .links ul{
        margin-left: 3em;
    }
    #usuario{
        padding-right: 4rem;
    }
    #usuario i{
        font-size: 3rem;
    }
}